{% extends "base.html" %}

{% block extraLinks %}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="static/css/getInfo.css">
{% endblock %}

{% block title %}Inputs{% endblock %}

{% block body %}
    <form action="/getData" method="POST">
        <!-- Raw Time-Table Text -->
        <div class="form-group">
            <label for="ttInText">Raw Text from V-TOP <span style="color: red;">*</span></label>
            <textarea class="form-control" id="ttInText" name="ttInText" rows="3" required></textarea>
        </div>
        <hr>
        <div class="form-group row">
            <!-- Start Date Datepicker -->
            <div class="form-group col-12 col-md-4">
                <label for="datepicker">Start Date for the Events <span style="color: red;">*</span></label>
                <input class="datepicker" id="start_date" name="start_date" width="276"  placeholder="mm/dd/yyyy" required/>
                <small id="start_date_help" class="form-text text-muted">The date from which the Events will be added.</small>
            </div>
            <!-- Calendar ID -->
            <div class="form-group col-12 col-md-8">
                <label for="calendarId">Calendar ID</label>
                <input class="form-control" name="calendarId" type="email" placeholder="91tqwr301q1ccl12f76aven4in@group.calendar.google.com">
                <small id="start_date_help" class="form-text text-muted">
                    <a href="https://docs.simplecalendar.io/find-google-calendar-id/">How to find my Calendar ID?</a>
                    If left blank, primary Calendar will be used.
                </small>
            </div>
        </div>
        <hr>
        <div class="form-group row">
            <!-- Color Picker -->
            <div class="form-group col-12 col-md-3">
                <label for="eventColorDummy">Event Color:</label>
                <input class="btn circle m-1" id="eventColorDummy" name="eventColorDummy" disabled>
                <input id="eventColor" name="eventColor" value="9" hidden>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-left">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td class="circle m-1 mx-4" id="c1"></td>
                            <td class="circle m-1 ml-3" id="c2"></td>
                        </tr>
                        <tr>
                            <td class="circle m-1 mx-4" id="c3"></td>
                            <td class="circle m-1 ml-3" id="c4"></td>
                        </tr>
                        <tr>
                            <td class="circle m-1 mx-4" id="c5"></td>
                            <td class="circle m-1 ml-3" id="c6"></td>
                        </tr>
                        <tr>
                            <td class="circle m-1 mx-4" id="c7"></td>
                            <td class="circle m-1 ml-3" id="c8"></td>
                        </tr>
                        <tr>
                            <td class="circle m-1 mx-4" id="c9"></td>
                            <td class="circle m-1 ml-3" id="c10"></td>
                        </tr>
                        <tr>
                            <td class="circle m-1 mx-4" id="c11"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Recurring Event? -->
            <div class="row ml-1">
                <!-- Recurring Event Switch -->
                <div class="col-12 col-md-auto form-group custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="recurringEvent" name="recurringEvent" value="1">
                    <label class="custom-control-label" for="recurringEvent">Recurring Event</label>
                    <small id="start_date_help" class="form-text text-muted">
                        Should the events be recurring? If YES, then fill the End Date for the Recurring Events.<br>
                        Basically, till which date should the timetable repeat the events.
                    </small>
                </div>
                <!-- Recurring End Date -->
                <div class="col-12 col-md-auto form-group" id="recurringEndDate">
                    <label for="end_date">End Date for Recurring Events <span style="color: red;">*</span></label>
                    <input class="datepicker" id="end_date" name="end_date" width="276"  placeholder="mm/dd/yyyy" required/>
                </div>
            </div>
        </div>
        <div class="form-group"><button type="submit" class="btn btn-primary">Add Events</button>
    </form>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="static/js/getInfo.js"></script>
{% endblock %}

<!-- 
    References:
    https://gijgo.com/datepicker/example/bootstrap-4
 -->