{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <img src="static/images/transparent_logo.png" alt="Logo" class="img-fluid d-inline-block">
        <!-- <h1 class="display-4">Hello, world!</h1> -->
        <p class="lead mt-2">A Timetable Management web app for <b>VITians</b>.<br></p>
        
        <hr class="my-4">
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-dark mt-2" data-toggle="modal" data-target="#whatModal">
            What is Zeitplan?
        </button>

        <!-- Modal -->
        <div class="modal fade" id="whatModal" tabindex="-1" role="dialog" aria-labelledby="whatModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="whatModalTitle">What is Zeitplan?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Meaning:</h4>
                        <p>Pronounced as <b>tsait · plaan</b>, 
                        <a href="https://en.wiktionary.org/wiki/Zeitplan">Zeitplan</a> is a German word, that means Timetable.</p>
                        <h4>It's purpose:</h4>
                        <p>
                            For all VITians, checking the timetable after each lecture is essential. Most commonly used method for the process is keeping a photograph of the timetable, and checking it after each class. But, this sounds tedious!
                        </p>
                        <p>
                            So, how about you get notified about the next lecture just when a lecture ends. With Google accounts being used world-wide, instead of creating an app - which would be like re-inventing the wheels, <a href="https://calendar.google.com/" target="_blank">Google Calendar</a> can be used for this purpose. And on top of that, Zeitplan won't ask you to add the slots and lectures manually! 
                        </p>
                        <p>
                            All you have to do is to copy-paste the timetable from VTOP and provide few details about the events, and then all the lectures will be added to your Calendar Account as Events.
                            Now, you will be able to see next lecture's details in your notification bar, provided you have <a href="https://play.google.com/store/apps/details?id=com.google.android.calendar" target="_blank">Google Calendar app</a> installed on your mobile.
                            For more, you can use the Calendar Widget to get your lecture details on home screen in a more organised manner.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-dark mt-2" data-toggle="modal" data-target="#howModal">
            How to use Zeitplan?
        </button>

        <!-- Modal -->
        <div class="modal fade" id="howModal" tabindex="-1" role="dialog" aria-labelledby="whatModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="whatModalTitle">How to use Zeitplan?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>How to add timetable?</h4>
                        <ol>
                            <li>Click on <b>Get Started</b> on Homepage or Click on <b>Add Events</b> in <i>ZCalendar</i> dropdown</li>
                            <li><span style="color: red;">*</span>You will be redirected to Google Sign In page. Choose the account in which you want the lecture schedule(events) to be added.</li>
                            <li><span style="color: red;">*</span>A <b>This app isn't verified</b> page will be displayed. Click on <b>Advanced</b> and proceed to <b>Go to pythonanywhere.com (unsafe)</b>.</li>
                            <li><span style="color: red;">*</span>A <b>Grant pythonanywhere.com permission</b> popup will be displayed. Click on <b>Allow</b>. Click on Allow again to Confirm your choices.</li>
                            <li>Paste the Raw timetable from VTOP in the respective section.(Demo available on Homepage)</li>
                            <li>Customize the Event parameters</li>
                            <li>Click on <b>Add Events</b></li>
                        </ol>
                        <p><span style="color: red;">*</span> For first-time users only.</p>
                        <br>
                        <h4>How to use a different Google account?</h4>
                        <ol>
                            <li>Click on the <b>Delete Cookies</b> button in  the <i>ZCalendar</i> dropdown.</li>
                            <li>Follow the <b>How to add timetable?</b></li>
                        </ol>
                        <br>
                        <h4>Messed up while adding Events?</h4>
                        <ol>
                            <li>Go to your <a href="https://calendar.google.com/" target="_blank">Goggle Calendar</a> account.</li>
                            <li>In the top right, click <b>Settings <i class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-chevron-right" aria-hidden="true"></i> Settings</b>.</li> 
                            <li>In the left column, find the Secondary Calendar named <b>Zeitplan</b>.</li>
                            <li>Click the name of the calendar.</li>
                            <li>Click <b>Remove calendar <i class="fa fa-chevron-right" aria-hidden="true"></i> Delete <i class="fa fa-chevron-right" aria-hidden="true"></i> Delete permanently</b>.</li>
                            <li>Now, you are ready to create a fresh calendar with correct timetable.</li>
                        </ol>
                        <br>
                        <h5>PS:</h5>
                        <p>
                            I know <b>See, edit, share, and permanently delete all the calendars you can access using Google Calendar</b> sounds
                            scary! To make it clear, since Zeitplan has no database, all the data related to your account are stored on your local 
                            machine as cookies. You delete the cookies and the access is gone. You can delete the cookies by clicking on 
                            <b>Delete Cookies</b> in ZCalendar dropdown.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>        

        <!-- What to copy for Raw timetable text? -->
        <p>
            <button class="btn btn-outline-dark mt-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                What to copy for Raw timetable text?
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <img class="img-fluid" src="static/images/raw_tt_demo.gif" alt="What to copy for Raw timetable text?" loading="lazy">
            </div>
        </div>
        <a class="btn btn-success mt-3" href="{{ url_for('getInfo') }}">Get Started</a>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        The site uses <b>cookies🍪</b>! Enable usage of cookies, if it is blocked.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}

<!-- References:
        https://addyosmani.com/blog/lazy-loading/
 -->