{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <img src="static/images/transparent_logo.png" alt="Logo" class="img-fluid d-inline-block">
        <!-- <h1 class="display-4">Hello, world!</h1> -->
        <p class="lead mt-2">A Timetable Management web app for <b>VITians</b>.<br></p>
        
        <hr class="my-4">
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#whatModal">
            What is Zeitplan?
        </button>

        <!-- Modal -->
        <div class="modal fade" id="whatModal" tabindex="-1" role="dialog" aria-labelledby="whatModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whatModalTitle">What is Zeitplan?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Meaning:</h4>
                <p>Pronounced as <b>tsait · plaan</b>, 
                <a href="https://en.wiktionary.org/wiki/Zeitplan">Zeitplan</a> is a German word, that means Timetable.</p>
                <h4>It's purpose:</h4>
                <p>
                    For all VITians, checking the timetable after each lecture is essential. Most commonly used method for the process is keeping a photograph of the timetable, and checking it after each class. But, this sounds tedious!
                </p>
                <p>
                    So, how about you get notified about the next lecture just when a lecture ends. With Google accounts being used world-wide, instead of creating an app - which would be like re-inventing the wheels, <a href="https://calendar.google.com/">Google Calendar</a> can be used for this purpose. And on top of that, the website won't ask you to add the slots and lectures manually! 
                </p>
                <p>
                    All you have to do is to copy-paste the timetable from VTOP and provide few details about the events, and then all the lectures will be added to your Calendar Account as Events.
                    Now, you will be able to see next lecture's details in your notification bar, provided you have <a href="https://play.google.com/store/apps/details?id=com.google.android.calendar">Google Calendar app</a> installed on your mobile.
                    For more, you can use the Calendar Widget to get your lecture details on home screen in a more organised manner.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <p>
            <button class="btn btn-outline-dark mt-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                What to copy for Raw timetable text?
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <img class="img-fluid" src="static/images/raw_tt_demo.gif" alt="What to copy for Raw timetable text?">
            </div>
        </div>
        <a class="btn btn-success mt-3" href="{{ url_for('getInfo') }}">Get Started</a>
    </div>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        The site uses <b>cookies🍪</b>! Enable usage of cookies, if it is blocked.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}